---
layout: default
---
<!--<header class="masthead">
  <h1 class="masthead-title masthead-center">
    <a href="{{ site.baseurl }}/"><img src="images/Camp16Logo.svg"></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>-->
<div class="content list">
  <img src="{{ site.baseurl }}/images/gettingReady.svg">
  <div class="fsmk">Free Software Mooment Karnataka 2016</div>
</div>
