<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}
</head>
<body>
  <header class="masthead">
    <h1 class="masthead-title masthead-center">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/Camp16Logo.svg"></a>
    </h1>
    <nav class="masthead-nav">
      <a href="{{ site.baseurl }}/about">About</a>
      <a href="{{ site.baseurl }}/faqs">FAQs</a>
    </nav>
  </header>
  <div class="container">
    {{ content }}
  </div>
<footer class="foot">
  <div class="container">
    <i class="fa fa-creative-commons" aria-hidden="true"></i>
    <a href="https://fsmk.org" target="_blank">Free Software Movement Karnataka</a>
2016
  </div>
</footer>
</body>
</html>
